@import url(../libs/normalize-css/normalize.css);
@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-display: swap; }

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-display: swap; }

* {
  box-sizing: border-box; }
  *:before, *:after {
    box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  color: #304272;
  font-size: 16px;
  line-height: 1.55;
  font-family: OpenSans, sans-serif;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  color: #0D1137; }

h1 {
  font-size: 3em;
  line-height: 1.3; }

h2 {
  font-size: 2.1em;
  line-height: 1.3; }

h3 {
  font-size: 2em;
  line-height: 1.3; }

h4 {
  font-size: 1.33em;
  line-height: 1.3; }

h5 {
  font-size: 1.11em;
  line-height: 1.3; }

a {
  color: #2577D7;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  a:hover {
    color: #FEC13C;
    text-decoration: none; }

a:hover, a:active, a:focus {
  outline: none; }

button, button:hover, button:active, button:focus {
  outline: none; }

input::-moz-focus-inner {
  border: 0; }

input:focus, textarea:focus {
  outline: none; }

object, embed {
  outline: none; }

::-webkit-input-placeholder {
  font-family: OpenSans, sans-serif;
  opacity: 1;
  color: #91A3B2; }

::-moz-placeholder {
  font-family: OpenSans, sans-serif;
  opacity: 1;
  color: #91A3B2; }

:-ms-input-placeholder {
  font-family: OpenSans, sans-serif;
  opacity: 1;
  color: #91A3B2; }

::-ms-input-placeholder {
  font-family: OpenSans, sans-serif;
  opacity: 1;
  color: #91A3B2; }

::placeholder {
  font-family: OpenSans, sans-serif;
  opacity: 1;
  color: #91A3B2; }

.main-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  z-index: 99;
  -webkit-transform: translateX(200%);
  -ms-transform: translateX(200%);
  transform: translateX(200%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .main-menu ul li {
      display: block;
      padding-left: 24px;
      padding-right: 24px;
      margin-bottom: 50px;
      line-height: 1; }
      .main-menu ul li a {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        position: relative;
        color: #304272;
        font-size: 18px;
        line-height: 1;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: color 0.3s ease-in-out;
        transition: color 0.3s ease-in-out; }
        .main-menu ul li a:hover {
          color: #FEC13C; }

.main-menu.open {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%); }

.main-menu .menu-button a {
  color: #fff;
  padding: 14px 40px;
  background-color: #2577D7;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .main-menu .menu-button a:hover {
    color: #fff;
    background-color: #FEC13C; }

.dropdown-link:after {
  content: url("../img/arrow-down.svg");
  position: absolute;
  right: -5px;
  top: -2px; }

/* Toggle */
.toggle-btn {
  display: block;
  position: absolute;
  top: 5px;
  right: 25px;
  z-index: 9999999; }

.toggle-btn .hamburger {
  background-color: transparent;
  cursor: pointer;
  display: block; }

.hamburger .icon-bar {
  background-color: #2577D7;
  display: block;
  height: 4px;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 25px; }

.hamburger .icon-bar:not(:last-child) {
  margin-bottom: 3px; }

.menu-open .hamburger .icon-bar:nth-of-type(1) {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.menu-open .hamburger .icon-bar:nth-of-type(2) {
  background-color: transparent; }

.menu-open .hamburger .icon-bar:nth-of-type(3) {
  top: -6px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media only screen and (min-width: 992px) {
  .main-menu {
    position: unset;
    background-color: transparent;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end; }
    .main-menu ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .main-menu ul li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 1;
        margin-bottom: 0; }
        .main-menu ul li:last-child {
          padding-right: 0; }
        .main-menu ul li a {
          font-size: 14px;
          color: #304272;
          text-decoration: none;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }
          .main-menu ul li a:hover {
            color: #FEC13C; }
  .toggle-btn {
    display: none; }
  .brand {
    text-align: left; } }

@media only screen and (min-width: 1200px) {
  .main-menu ul li {
    padding-left: 27px;
    padding-right: 27px; }
    .main-menu ul li:first-child {
      padding-left: 0; }
    .main-menu ul li:last-child {
      padding-right: 0; } }

header {
  padding: 30px 0;
  top: -100%;
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out; }
  header.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
    padding: 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }

.section-label {
  font-size: 0.77em;
  color: #8F98AE;
  padding-left: 42px;
  position: relative; }
  .section-label:before {
    content: '';
    width: 30px;
    height: 1px;
    position: absolute;
    display: block;
    background-color: #8F98AE;
    left: 0;
    top: 10px; }

#home-hero {
  padding: 120px 0 60px;
  background-image: url("../img/ellipseleft.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  margin-top: -90.5px; }

.blue-button, .search-submit {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  padding: 14px 40px;
  background-color: #2577D7;
  border-radius: 4px;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .blue-button:hover, .search-submit:hover {
    color: #fff;
    background-color: #FEC13C; }

.transparent-button {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #2577D7;
  padding: 14px 40px;
  background-color: transparent;
  border: 1px solid #2577D7;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .transparent-button:hover {
    color: #fff;
    background-color: #2577D7; }

.email-marketing {
  max-width: 500px; }

#our-services {
  padding: 30px 0; }
  #our-services .service-wrap {
    height: 100%;
    padding: 40px 30px;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 20px;
    cursor: pointer; }
    #our-services .service-wrap:hover {
      background: #FFFFFF;
      box-shadow: 0px 50px 210px rgba(33, 57, 84, 0.14); }
  #our-services .service-icon {
    width: 158px;
    height: 158px;
    background-color: #D3D9E5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 30px; }
    #our-services .service-icon img {
      max-height: 90px; }

h2 span {
  position: relative; }
  h2 span:after {
    content: '';
    width: 100%;
    height: 23px;
    opacity: 0.4;
    display: block;
    position: absolute;
    background-color: #FEC13C;
    left: 0;
    bottom: 2px;
    z-index: -1; }

#our-cases {
  padding: 30px 0; }
  #our-cases .case-image {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 240px; }
  #our-cases .section-label {
    position: absolute;
    top: 10px; }
  #our-cases .case-data {
    padding: 45px 0; }
  #our-cases .transparent-button {
    min-width: 160px; }

.blue {
  color: #2577D7; }

.mb-150 {
  margin-bottom: 150px; }

.prev-slide {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #E4E9F2;
  cursor: pointer;
  position: relative;
  margin-right: 10px; }
  .prev-slide:hover {
    background-color: #F8F9FB; }
  .prev-slide:after {
    content: url("../img/slide-arrow.svg");
    display: block;
    position: absolute;
    top: 15px;
    left: 18px; }

.next-slide {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #E4E9F2;
  cursor: pointer;
  position: relative; }
  .next-slide:hover {
    background-color: #F8F9FB; }
  .next-slide:after {
    content: url("../img/slide-arrow.svg");
    display: block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    top: 15px;
    left: 18px; }

#testimonials {
  padding: 30px 0; }
  #testimonials .collapse-button {
    padding: 40px;
    cursor: pointer;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 50px 210px rgba(33, 57, 84, 0.14);
    margin-bottom: 10px; }
    #testimonials .collapse-button.collapsed {
      background: transparent;
      box-shadow: none; }
    #testimonials .collapse-button:hover {
      background: #FFFFFF;
      box-shadow: 0px 50px 210px rgba(33, 57, 84, 0.14); }
    #testimonials .collapse-button .testiposition {
      font-family: Poppins, sans-serif;
      font-size: 0.77em;
      font-weight: 500;
      color: #8F98AE; }
  #testimonials .testiavatar {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%; }

.testirating {
  margin-bottom: 15px; }
  .testirating span:before {
    content: url("../img/star-black.svg"); }
  .testirating span.checked:before {
    content: url("../img/star-gold.svg"); }

footer {
  background-image: url("../img/ellipseright.svg");
  background-size: cover;
  background-position: 100% 0;
  padding: 30px 0; }
  footer .contacts-wrap {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .contacts-wrap div {
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px; }
    footer .contacts-wrap .footer-email {
      font-size: 0.77em;
      color: #8F98AE; }
      footer .contacts-wrap .footer-email a {
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 1.4em;
        color: #0D1137; }
        footer .contacts-wrap .footer-email a:hover {
          color: #2577D7; }
    footer .contacts-wrap .footer-phone {
      font-size: 0.77em;
      color: #8F98AE; }
      footer .contacts-wrap .footer-phone a {
        font-family: Poppins, sans-serif;
        font-weight: 600;
        font-size: 1.4em;
        color: #0D1137; }
        footer .contacts-wrap .footer-phone a:hover {
          color: #2577D7; }
  footer #footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    footer #footer-menu li {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px; }
      footer #footer-menu li:last-child {
        padding-right: 0; }
      footer #footer-menu li:first-child {
        padding-left: 0; }
      footer #footer-menu li a {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 0.77em;
        color: #0D1137; }
        footer #footer-menu li a:hover {
          color: #2577D7; }
  footer .privacy-policy {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 0.77em;
    color: #8F98AE; }
    footer .privacy-policy:hover {
      color: #2577D7; }
  footer .copyright {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 0.77em;
    color: #8F98AE; }

footer #footer-menu .menu-transparent-button a {
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #2577D7;
  padding: 14px 40px;
  background-color: transparent;
  border: 1px solid #2577D7;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  footer #footer-menu .menu-transparent-button a:hover {
    color: #fff;
    background-color: #2577D7; }

.hr {
  width: 100%;
  height: 1px;
  background-color: #DCDFE6;
  margin-top: 60px;
  margin-bottom: 30px; }

h1 span {
  position: relative; }
  h1 span:after {
    content: '';
    width: 100%;
    height: 32px;
    opacity: 0.4;
    display: block;
    position: absolute;
    background-color: #FEC13C;
    left: 0;
    bottom: 2px;
    z-index: -1; }

#pricing-hero {
  background-image: url("../img/ellipsecenter.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding: 120px 0 60px;
  margin-top: -90.5px; }
  #pricing-hero h1 {
    position: relative;
    z-index: 2; }
  #pricing-hero p {
    font-size: 1.1em; }

#pricing {
  padding: 30px 0;
  margin-top: -130px; }
  #pricing .pricecard {
    height: 100%;
    padding: 60px 30px 220px;
    background-color: #FFFFFF;
    border: 1px solid #E4E9F2;
    border-radius: 20px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    #pricing .pricecard:hover {
      box-shadow: 0px 50px 210px rgba(33, 57, 84, 0.14); }
      #pricing .pricecard:hover .price-value {
        color: #2577D7; }
      #pricing .pricecard:hover .price-button a {
        background-color: #2577D7;
        color: #fff; }
        #pricing .pricecard:hover .price-button a:hover {
          background-color: #FEC13C;
          border-color: #FEC13C; }
    #pricing .pricecard .price-name {
      font-family: Poppins, sans-serif;
      font-size: 1.55em;
      font-weight: 600;
      color: #0D1137;
      margin-bottom: 25px; }
    #pricing .pricecard .price-description {
      margin-bottom: 30px; }
    #pricing .pricecard .price-value {
      position: absolute;
      left: 0;
      right: 0;
      font-family: Poppins, sans-serif;
      font-size: 3em;
      font-weight: 600;
      color: #0D1137;
      bottom: 150px;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    #pricing .pricecard .price-note {
      position: absolute;
      left: 0;
      right: 0;
      font-size: 0.88em;
      color: #9CA4B8;
      margin-bottom: 40px;
      bottom: 100px; }
    #pricing .pricecard .price-button {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 45px; }

#trusted-companies {
  padding: 30px 0; }
  #trusted-companies .trusted-companies-logo {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
    #trusted-companies .trusted-companies-logo img {
      width: 166px;
      height: auto;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 30px;
      opacity: 0.5;
      -webkit-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      cursor: pointer; }
      #trusted-companies .trusted-companies-logo img:hover {
        opacity: 1; }

#secret-hero {
  background-image: url("../img/ellipsecenter.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  padding: 120px 0 60px;
  margin-top: -90.5px; }
  #secret-hero h1 {
    position: relative;
    z-index: 2; }
  #secret-hero p {
    font-size: 1.1em; }

.secret-sauce {
  padding: 30px 0; }
  .secret-sauce .sauce-image {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 240px; }
  .secret-sauce .section-label {
    position: absolute;
    top: 10px; }
  .secret-sauce .sauce-data {
    padding: 45px 0; }
  .secret-sauce .transparent-button {
    min-width: 160px; }

#contact-hero {
  padding: 120px 0 60px;
  background-image: url("../img/ellipsetopright.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  margin-top: -90.5px; }
  #contact-hero h1 {
    position: relative;
    z-index: 2; }
  #contact-hero p {
    font-size: 1.1em; }

input:not([type="submit"]) {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D4DEEB;
  border-radius: 10px;
  padding: 20px 24px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  body {
    font-size: 18px; }
  #home-hero {
    padding: 190px 0 160px; }
  #pricing-hero {
    padding: 140px 0 190px; }
  #secret-hero {
    padding: 140px 0 120px; }
  #our-cases .section-label {
    top: 60px; }
  #our-cases .case-image {
    min-height: 840px; }
  #our-cases .case-data {
    padding: 75px 0; }
  #our-cases .slide-controls {
    position: absolute;
    bottom: 30px;
    left: 15px; }
  footer {
    padding-top: 60px; }
    footer .contacts-wrap {
      text-align: left;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      footer .contacts-wrap div {
        width: inherit;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px; }
    footer #footer-menu {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
  .hr {
    margin-top: 120px;
    margin-bottom: 60px; }
  .secret-sauce .section-label {
    top: 60px; }
  .secret-sauce .sauce-data {
    padding: 100px 0; }
  .secret-sauce .sauce-image {
    min-height: 760px; }
  .secret-sauce:nth-child(even) .col-lg-6:first-child {
    padding-left: calc((100% - 930px) / 2); }
  .secret-sauce:nth-child(odd) .col-lg-6:first-child {
    padding-right: calc((100% - 930px) / 2); }
  .secret-sauce .container-fluid {
    padding: 0; }
  #contact-hero {
    padding: 140px 0 160px; }
  .case-slider .col-lg-6:first-child {
    padding-left: calc((100% - 930px) / 2); }
  .slide-controls{
    padding-left: calc((100% - 960px) / 2);  } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  #our-services {
    padding: 60px 0; }
  #our-cases {
    padding: 60px 0; }
  #testimonials {
    padding: 60px 0; }
  footer {
    margin-top: -60px;
    padding-top: 170px; }
  #trusted-companies {
    padding: 60px 0 120px; }
    #trusted-companies .trusted-companies-logo {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .secret-sauce {
    padding: 60px 0; }
  .secret-sauce:nth-child(even) .col-lg-6:first-child {
    padding-left: calc((100% - 1110px) / 2); }
  .secret-sauce:nth-child(odd) .col-lg-6:first-child {
    padding-right: calc((100% - 1110px) / 2); }
  .case-slider .col-lg-6:first-child {
    padding-left: calc((100% - 1110px) / 2); }
  .slide-controls{
    padding-left: calc((100% - 1140px) / 2);  } }

@media only screen and (min-width: 1300px) {
  .container {
    max-width: 1270px; }
  #home-hero {
    padding: 220px 0; }
  .secret-sauce:nth-child(even) .col-lg-6:first-child {
    padding-left: calc((100% - 1240px) / 2); }
  .secret-sauce:nth-child(odd) .col-lg-6:first-child {
    padding-right: calc((100% - 1240px) / 2); }
  .case-slider .col-lg-6:first-child {
    padding-left: calc((100% - 1240px) / 2); }
  .slide-controls{
    padding-left: calc((100% - 1270px) / 2);  } }
